// * {
//   border: 1px solid red;
// }

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap");
@import "../../spacing";
@import "../../colors";

.popup {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #c3cfdaaa;
}

.donation-card {
  width: 440px;
  margin-top: $large;
  position: fixed;
  top: 25vh;
  left: calc(50% - 220px);
  z-index: 10;
  &__header {
    background: $lightPurple;
    padding: $small $medium;
    color: $white;
  }
  &__main {
    background: $lightGrey;
    padding: $medium;
  }
  &__footer {
    background: $darkGrey;
    padding: $medium;
  }
  &__text {
    &--white {
      color: $white;
    }
    &--black {
      color: $black;
      margin: $medium 0;
    }
  }
  &__tags {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    min-height: 32px;
    &--css {
      border: 2px solid #c3cfda;
      background: $white;
      color: $black;
      height: 32px;
      padding: 0 $medium;
      margin-right: $small;
      display: flex;
      align-items: center;
    }
  }
  &__amount {
    display: flex;
    justify-content: space-evenly;
    min-height: 150px;
    margin: $medium 0;
  }
  &__amount-inputs {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  &__amount-display {
    width: 128px;
    height: 150px;
    background-color: $lightPurple;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    &--white {
      color: $white;
    }
  }

  &__comment {
    margin: $medium 0;
  }

  &__charleft {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  &__payment {
    display: flex;
    justify-content: center;
    margin-top: $medium;
  }

  &__ideal {
    display: flex;
    align-items: center;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
}

// .form__label {

// }
