@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap");

.btn {
  height: 48px;
  font-weight: bold;
  outline: none;
  border-radius: 6px;
  justify-content: center;
  padding: 0 10px;
  width: 240px;
  font-family: "Roboto Mono", monospace;
}

.btn--purple {
  background-color: #730ec3;
  color: white;
}
.btn--white {
  background-color: white;
  color: black;
}
